#header h1,
#header-projects h1,
#projects-table-header {
	color: #ffff00;
}

h2 {
	color: aqua !important;
}

#header {
	padding: 0 2rem 0 2rem;
	border-left: 5px solid var(--secondary-light);
}

#header-bio {
	margin: 1rem 0;
}

#header-projects {
	padding: 0 2rem 2rem 0;
	border-right: 5px solid var(--secondary-light);
}

.circular-profile-pic,
.circular-pic,
.gs-pic,
.vc-pic {
	width: 150px; /* Set your desired width and height */
	height: 150px;
	border-radius: 50%; /* Create a circular shape */
	overflow: hidden; /* Hide the overflowing part of the image */
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 0.1rem var(--secondary-light) !important;
}

img {
	max-width: 100%;
	max-height: auto;
}

.circular-pic img {
	max-width: 75%;
	max-height: auto;
}

.gs-pic img {
	max-width: 175%;
	max-height: auto;
}

.vc-pic img {
	max-width: 125%;
	max-height: auto;
}

#error h1 {
	color: #ffff00 !important;
}

.transparent-button {
	z-index: 1;
	background: transparent !important;
	border: 2px solid var(--secondary-light) !important;
	border-radius: 100px !important;
	color: aqua !important;
	padding: 10px 20px !important;
	font-size: 0.75rem !important;
	text-decoration: none !important;
	font-size: 1rem !important;

	cursor: none !important;
}

.transparent-button:hover {
	color: aquamarine !important;
	-webkit-box-shadow: 0px 25px 5px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.9);
	cursor: none;
}

@media only screen and (max-width: 993px) {
	#header {
		margin-bottom: 2rem;
	}

	#projectsTab {
		flex-direction: column-reverse;
	}

	#header-projects {
		margin-bottom: 2rem;
	}
}
