.card {
	color: var(--secondary-light) !important;
	background-color: var(--background-color) !important;
	z-index: 0;
	border-radius: 20px;
}

.card .card a {
	margin: 0 1rem !important;
}

.card h5 {
	font-size: 1rem;
}

.card p {
	font-size: 1rem;
}

.card ul {
	padding: 0;
}

.card li {
	list-style: none;
}

.card-buttons a {
	margin: 0 0.5rem !important;
}

.project-title {
	color: #ffff00 !important;
}

.tech {
	color: aqua;
}
